In [210]:
import pandas as pd
swiggy=pd.read_csv('C:\\Users\\ACER\\Downloads\\swiggy - swiggy.csv')
swiggy

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json
...,...,...,...,...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks",21522053000452,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94MC+X35, New Singhania Naga...",Menu/553122.json
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"MAITRI FOODS & BEVERAGES, POLIC MITRYA SOCIETY...",Menu/562647.json
148538,559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks",21522251000378,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, SHOP NO 2 NEMANI MARKET SBI S...",Menu/559435.json
148539,418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental,21521251000241,https://www.swiggy.com/restaurants/grill-zilla...,"GRILL ZILLA, SHO NO 2/6, POSTEL GROUND CHOWPAT...",Menu/418989.json
148540,447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas,21521251000634,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez kitchen, 94G3+2RR, Wadgaon, Yavatmal, M...",Menu/447770.json

In [27]:
print("Shape:",swiggy.shape)
print("Size:",swiggy.size)

Shape: (148541, 11)
Size: 1633951

In [31]:
print(swiggy.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB
None

In [3]:
#missing values check
swiggy=swiggy.isna().sum()
swiggy

id                0
name             86
city              0
rating           86
rating_count     86
cost            131
cuisine          99
lic_no          229
link              0
address          86
menu              0
dtype: int64

In [4]:
#duplicate rows count
swiggy=swiggy.duplicated().sum()
swiggy

np.int64(6)

In [166]:
import pandas as pd
swiggy=pd.read_csv('C:\\Users\\ACER\\Downloads\\swiggy - swiggy.csv')
missing_percent = round(swiggy.isnull().mean() * 100, 2)
print(missing_percent.sort_values(ascending=False))

lic_no          0.15
cost            0.09
cuisine         0.07
rating          0.06
address         0.06
name            0.06
rating_count    0.06
city            0.00
id              0.00
link            0.00
menu            0.00
dtype: float64

In [211]:
swiggy=swiggy.drop_duplicates()
swiggy

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json
...,...,...,...,...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks",21522053000452,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94MC+X35, New Singhania Naga...",Menu/553122.json
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"MAITRI FOODS & BEVERAGES, POLIC MITRYA SOCIETY...",Menu/562647.json
148538,559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks",21522251000378,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, SHOP NO 2 NEMANI MARKET SBI S...",Menu/559435.json
148539,418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental,21521251000241,https://www.swiggy.com/restaurants/grill-zilla...,"GRILL ZILLA, SHO NO 2/6, POSTEL GROUND CHOWPAT...",Menu/418989.json
148540,447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas,21521251000634,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez kitchen, 94G3+2RR, Wadgaon, Yavatmal, M...",Menu/447770.json

In [212]:
swiggy=swiggy.dropna(subset=["city","cuisine"])

In [213]:
swiggy=swiggy.dropna()

In [130]:
swiggy

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json
...,...,...,...,...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks",21522053000452,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94MC+X35, New Singhania Naga...",Menu/553122.json
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"MAITRI FOODS & BEVERAGES, POLIC MITRYA SOCIETY...",Menu/562647.json
148538,559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks",21522251000378,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, SHOP NO 2 NEMANI MARKET SBI S...",Menu/559435.json
148539,418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental,21521251000241,https://www.swiggy.com/restaurants/grill-zilla...,"GRILL ZILLA, SHO NO 2/6, POSTEL GROUND CHOWPAT...",Menu/418989.json
148540,447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas,21521251000634,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez kitchen, 94G3+2RR, Wadgaon, Yavatmal, M...",Menu/447770.json

In [214]:
swiggy['cost']=swiggy['cost'].str.replace('₹','')

In [215]:
swiggy['rating_count'].unique()

array(['Too Few Ratings', '50+ ratings', '100+ ratings', '20+ ratings',
       '500+ ratings', '1K+ ratings', '5K+ ratings', '10K+ ratings'],
      dtype=object)

In [216]:
mapping={
    'Too Few Ratings':0,
    '20+ ratings':20,
    '50+ ratings':50,
    '100+ ratings':100,
    '500+ ratings':500,
    '1K+ ratings':1000,
    '5K+ ratings':5000
}
swiggy['rating_count']=swiggy['rating_count'].map(mapping)

In [217]:
swiggy[['main_city','city_v2']]=swiggy['city'].str.split(',',n=1,expand=True)

In [218]:
swiggy = swiggy.drop(columns = ['lic_no','link','address','menu'])

In [219]:
swiggy['city_final']= swiggy['city_v2'].fillna(swiggy['city'])
swiggy

,id,name,city,rating,rating_count,cost,cuisine,main_city,city_v2,city_final
0,567335,AB FOODS POINT,Abohar,--,0.0,200,"Beverages,Pizzas",Abohar,None,Abohar
1,531342,Janta Sweet House,Abohar,4.4,50.0,200,"Sweets,Bakery",Abohar,None,Abohar
2,158203,theka coffee desi,Abohar,3.8,100.0,100,Beverages,Abohar,None,Abohar
3,187912,Singh Hut,Abohar,3.7,20.0,250,"Fast Food,Indian",Abohar,None,Abohar
4,543530,GRILL MASTERS,Abohar,--,0.0,250,"Italian-American,Fast Food",Abohar,None,Abohar
...,...,...,...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,--,0.0,200,"Fast Food,Snacks",Yavatmal,None,Yavatmal
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,0.0,300,Pizzas,Yavatmal,None,Yavatmal
148538,559435,Cafe Bella Ciao,Yavatmal,--,0.0,300,"Fast Food,Snacks",Yavatmal,None,Yavatmal
148539,418989,GRILL ZILLA,Yavatmal,--,0.0,250,Continental,Yavatmal,None,Yavatmal
148540,447770,Lazeez kitchen,Yavatmal,--,0.0,200,Pizzas,Yavatmal,None,Yavatmal

In [16]:
swiggy.isna().sum()

id                  0
name                0
city                0
rating              0
rating_count       15
cost                0
cuisine             0
main_city           0
city_v2         46739
city_final          0
dtype: int64

In [220]:
swiggy_=swiggy.drop(columns=['city','city_v2','main_city'])

In [161]:
swiggy_

,id,name,rating,rating_count,cost,cuisine,city_final
0,567335,AB FOODS POINT,--,0.0,200,"Beverages,Pizzas",Abohar
1,531342,Janta Sweet House,4.4,50.0,200,"Sweets,Bakery",Abohar
2,158203,theka coffee desi,3.8,100.0,100,Beverages,Abohar
3,187912,Singh Hut,3.7,20.0,250,"Fast Food,Indian",Abohar
4,543530,GRILL MASTERS,--,0.0,250,"Italian-American,Fast Food",Abohar
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,--,0.0,200,"Fast Food,Snacks",Yavatmal
148537,562647,MAITRI FOODS & BEVERAGES,--,0.0,300,Pizzas,Yavatmal
148538,559435,Cafe Bella Ciao,--,0.0,300,"Fast Food,Snacks",Yavatmal
148539,418989,GRILL ZILLA,--,0.0,250,Continental,Yavatmal
148540,447770,Lazeez kitchen,--,0.0,200,Pizzas,Yavatmal

In [221]:
import numpy as np
swiggy_['rating']=swiggy_['rating'].replace('--',np.nan)

In [222]:
swiggy_['rating_count'].fillna(0,inplace=True)
swiggy_['rating'].fillna(0,inplace=True)

C:\Users\ACER\AppData\Local\Temp\ipykernel_14732\3432666379.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  swiggy_['rating_count'].fillna(0,inplace=True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_14732\3432666379.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  swiggy_['rating'].fillna(0,inplace=True)

In [ ]:
swiggy_['city_final'].unique()

array(['Abohar', 'Adilabad', 'Adityapur', 'Adoni', 'Agartala', 'Agra',
       'Ahmedabad', 'Ahmednagar', 'Aizawl', 'Ajmer', 'Akola', 'Alappuzha',
       'Aligarh', 'Alipurduar', 'Allahabad', 'Alwar', 'Ambala',
       'Ambikapur', 'Ambur', 'Amravati', 'Amreli', 'Amritsar', 'Anand',
       'Anantapur', 'Ankleshwar', 'Arakkonam', 'Arambagh', 'Arrah',
       'Aruppukottai', 'Asansol', 'Aurangabad', 'Aurangabad_bihar',
       'Azamgarh', 'Baddi', 'Bagalkot', 'Bagdogra', 'Bahadurgarh',
       'Bahraich', 'Balaghat', 'Balangir', 'Balasore', 'Ballari',
       'Balrampur', 'Balurghat', 'Banda', 'Bangalore',
       ' New BEL Road,Bangalore', 'Bantwal', 'Bapatlachirala', 'Baramati',
       'Baran', 'Bardhaman', 'Bardoli', 'Bareilly', 'Barmer', 'Barnala',
       'Barshi', 'Barwani', 'Basirhat', 'Basti', 'Batala', 'Bathinda',
       'Beawar', 'Beed', 'Begusarai', 'Bela-pratapgarh', 'Belgaum',
       'Berhampore', 'Berhampur', 'Bettiah', 'Betul', 'Bhadohi',
       'Bhadrachalam', 'Bhagalpur', 'Bhandara', 'Bharabanki', 'Bharatpur',
       'Bharuch', 'Bhatkal', 'Bhavnagar', 'Bhawanipatna', 'Bhilai',
       'Bhilwara', 'Bhimavaram', 'Bhind', 'Bhiwadi', 'Bhiwani', 'Bhopal',
       'Bhubaneswar', 'Bhuj', 'Bhusawal', 'Bidar', 'Biharsharif',
       'Bijapur', 'Bijnor', 'Bikaner', 'Bilaspur', 'Bilimora',
       'Bodhan-rural', 'Bodinayakanur', 'Boisar', 'Bokaro', 'Bolpur',
       'Bongaigaon', 'Bongaon', 'Budaun', 'Budhwal', 'Bulandshahr',
       'Buldana', 'Bundi', 'Burhanpur', 'Buxar', 'Central-goa',
       'Chakdaha', 'Chalakkudy', 'Chalisgaon', 'Chandausi', 'Chandigarh',
       'Chandrapur', 'Changanassery', 'Chengannur', 'Chennai',
       'Cherthala', 'Chhapra', 'Chhatarpur', 'Chhindwara', 'Chidambaram',
       'Chikhli', 'Chikkaballapur', 'Chikmagalur', 'Chiplun',
       'Chitradurga', 'Chittoor', 'Chittorgarh', 'Chopda', 'Churu',
       'Coimbatore', 'Cooch-behar', 'Cuddalore', 'Cuttack', 'Dahanu',
       'Dahod', 'Daman', 'Darbhanga', 'Darjeeling', 'Dausa', 'Davanagere',
       'Dehradun', 'Dehri', 'Delhi', 'Deoghar', 'Dewas', 'Dhanbad',
       'Dhar', 'Dharamshala', 'Dharmapuri', 'Dharwad', 'Dhoraji', 'Dhule',
       'Dibrugarh', 'Dimapur', 'Dindigul', 'Diu', 'Doddaballapura',
       'Duliajan', 'Dumka', 'Durgapur', 'Eluru', 'Erode', 'Etawah',
       'Faizabad', 'Faridabad', 'Faridkot', 'Farrukhabad', 'Fatehabad',
       'Fatehgarh-sahib', 'Fatehpur', 'Fazilka', 'Firozabad', 'Firozpur',
       'Gadag-betigeri', 'Gadwal', 'Gandhidham', 'Gangapur-city',
       'Gangtok', 'Gauriganj', 'Gaya', 'Giridih', 'Godhra', 'Gokak',
       'Golaghat', 'Gonda', 'Gondal', 'Gondia', 'Gopalganj', 'Gorakhpur',
       'Gudivada', 'Guna', 'Guntakal', 'Guntur', 'Gurdaspur', 'Gurgaon',
       'Guwahati', 'Gwalior', 'Habra', 'Haldia', 'Haldwani', 'Halol',
       'Hampi', 'Hansi', 'Hanumangarh', 'Hapur', 'Hardoi', 'Haridwar',
       'Hassan', 'Himmatnagar', 'Hindaun', 'Hinganghat', 'Hisar',
       'Hoshangabad', 'Hoshiarpur', 'Hospet', 'Hubli', 'Hyderabad',
       ' Nacharam & Malkajigiri,Hyderabad', 'Ichalkaranji', 'Imphal',
       'Indore', 'Irinjalakuda', 'Itanagar', 'Itarsi', 'Jabalpur',
       'Jagdalpur', 'Jagraon', 'Jagtial', 'Jahanabad', 'Jaipur', 'Jalaun',
       'Jalgaon', 'Jalpaiguri', 'Jammu', 'Jamnagar', 'Jamshedpur',
       'Jaunpur', 'Jhalawar', 'Jhansi', 'Jhargram', 'Jhunjhunu', 'Jind',
       'Jodhpur', 'Jorhat', 'Junagadh', 'Kadapa', 'Kadayanallur',
       'Kadiri', 'Kaithal', 'Kakinada', 'Kalaburagi', 'Kalady',
       'Kamareddy', 'Kanchrapara', 'Kannauj', 'Kannur', 'Kanpur',
       'Kanyakumari', 'Kapurthala', 'Karad', 'Karaikkudi', 'Karimnagar',
       'Karnal', 'Karunagappaly', 'Karur', 'Karwar', 'Kasaragod',
       'Kashipur', 'Katihar', 'Katni', 'Kavali', 'Kayamkulam',
       'Kendujhar', 'Khamgaon', 'Khammam', 'Khandwa', 'Khanna',
       'Kharagpur', 'Kishanganj', 'Kishangarh', 'Kochi', 'Kodaikanal',
       'Kohima', 'Kolar', 'Kolhapur', 'Kolkata', 'Kollam', 'Kopargaon',
       'Koppal', 'Korba', 'Kota', 'Kotdwar', 'Kothagudem',
       'Kothamanagalam', 'Kottakkal', 'Kottarakkara', 'Kottayam',
       'Kovilpatti', 'Kozhikode', 'Krishnagiri', 'Krishnanagar',
       'Kumarakom', 'Kumbakonam', 'Kumta', 'Kundapura', 'Kunnamkullam',
       'Kurnool', 'Kurukshetra', 'Lakhimpur', 'Lalitpur', 'Latur',
       'Lonavala', 'Lonavla', 'Lucknow', 'Ludhiana', 'Machilipatnam',
       'Madanapalle', 'Madhubani', 'Madikeri', 'Madurai', 'Mahbubnagar',
       'Malappuram', 'Malda', 'Malegaon', 'Malout', 'Manali',
       'Mancherial', 'Mandi-dabwali', 'Mandi-gobindgarh', 'Mandsaur',
       'Mandya', 'Mangaluru', 'Manipal', 'Manjeri', 'Mansa', 'Markapur',
       'Mathura', 'Maunath-bhanjan', 'Mayiladuthurai', 'Medinipur',
       'Meerut', 'Mehsana', 'Miryalaguda', 'Mirzapur', 'Modinagar',
       'Moga', 'Moodbidri', 'Moradabad', 'Morbi', 'Morena', 'Motihari',
       'Mount-abu', 'Mughalsarai', 'Muktsar', 'Mumbai', 'Munger',
       'Murshidabad', 'Mussoorie', 'Muvattupuzha', 'Muzaffarnagar',
       'Muzaffarpur', 'Mysore', 'Nabadwip', 'Nadiad', 'Nagaon',
       'Nagapattinam', 'Nagda', 'Nagercoil', 'Nagpur', 'Naharlagun',
       'Nainital', 'Nalgonda', 'Namakkal', 'Nanded', 'Nandurbar',
       'Nandyal', 'Nangal', 'Naraingarh', 'Narasaraopet', 'Narnaul',
       'Narsinghpur', 'Navsari', 'Neemuch', 'Nellore', 'Neyveli',
       'Nipani', 'Nirmal', 'Nizamabad', 'Noida', 'Noida-1', 'North-goa',
       'Ongole', 'Ooty', 'Orai', 'Osmanabad', 'Pala', 'Palakkad',
       'Palampur', 'Palani', 'Palanpur', 'Pali', 'Panipat', 'Parbhani',
       'Pathankot', 'Patiala', 'Patna', 'Perinthalmanna', 'Phagwara',
       'Pilibhit', 'Pondicherry', 'Porbandar', 'Proddatur', 'Pudukkottai',
       'Pune', 'Puri', 'Purnea', 'Purulia', 'Pusad', 'Puttur',
       'Rae-bareli', 'Raghunathpur', 'Raichur', 'Raiganj', 'Raigarh',
       'Raipur', 'Rajahmundry', 'Rajapalayam', 'Rajkot', 'Rajnandgaon',
       'Rajsamand', 'Ramagundam', 'Ramanagara', 'Ramanathapuram',
       'Rampur', 'Ranaghat-wb', 'Ranchi', 'Rangpo', 'Ranibennur',
       'Raniganj', 'Ratlam', 'Ratnagiri', 'Rayachoty', 'Rewa', 'Rewari',
       'Rishikesh', 'Rohtak', 'Roorkee', 'Ropar', 'Rourkela', 'Rudrapur',
       'Sagar', 'Saharanpur', 'Saharsa', 'Salem', 'Samastipur',
       'Sambalpur', 'Sangamner', 'Sangli', 'Sangrur', 'Sasaram', 'Satara',
       'Satna', 'Sawai-madhopur', 'Sehore', 'Shahjahanpur', 'Shikohabad',
       'Shillong', 'Shimla', 'Shivamogga', 'Shivpuri', 'Shrirampur',
       'Siddipet', 'Sikar', 'Silchar', 'Siliguri', 'Silvassa',
       'Sindhanur', 'Singrauli', 'Sirsa', 'Sirsi', 'Sitapur', 'Sivakasi',
       'Sivasagar', 'Siwan', 'Solan', 'Solapur', 'Sonipat', 'South-goa',
       'Sri-ganganagar', 'Srikakulam', 'Srivilliputhur', 'Sultanpur',
       'Surat', 'Suratgarh', 'Surendranagar-dudhrej', 'Suryapet',
       'Tadepalligudem', 'Tadpatri', 'Tanuku', 'Tarn-taran-sahib',
       'Tenkasi', 'Tezpur', 'Thalassery', 'Thanjavur', 'Theni',
       'Thiruvalla', 'Thiruvallur', 'Thiruvananthapuram', 'Thiruvarur',
       'Thodupuzha', 'Thoothukudi', 'Thrissur', 'Tinsukia', 'Tiptur',
       'Tirunelveli', 'Tirupati', 'Tirupur', 'Tiruvannamalai', 'Tohana',
       'Trichy', 'Tumakuru', 'Tuni', 'Udaipur', 'Udgir', 'Ujjain',
       'Uluberia', 'Uran-islampur', 'Vadodara', 'Valsad', 'Vapi',
       'Varanasi', 'Varkala', 'Vellore', 'Veraval', 'Vidisha',
       'Vijayawada', 'Virudhunagar', 'Visnagar', 'Vizag', 'Vizianagaram',
       'Vyara', 'Waidhan', 'Warangal', 'Wardha', 'Washim', 'Yamuna-nagar',
       'Yavatmal'], dtype=object)

In [ ]:
swiggy2= swiggy_['city_final'].value_counts().head(10)
print(swiggy2)

city_final
Bangalore     14402
Delhi         14048
Pune          12412
Chennai        9940
Hyderabad      9596
Kolkata        8271
Mumbai         6064
Ahmedabad      3514
Chandigarh     3311
Lucknow        2842
Name: count, dtype: int64

In [223]:
df=pd.DataFrame(swiggy_)
df

,id,name,rating,rating_count,cost,cuisine,city_final
0,567335,AB FOODS POINT,0,0.0,200,"Beverages,Pizzas",Abohar
1,531342,Janta Sweet House,4.4,50.0,200,"Sweets,Bakery",Abohar
2,158203,theka coffee desi,3.8,100.0,100,Beverages,Abohar
3,187912,Singh Hut,3.7,20.0,250,"Fast Food,Indian",Abohar
4,543530,GRILL MASTERS,0,0.0,250,"Italian-American,Fast Food",Abohar
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,0,0.0,200,"Fast Food,Snacks",Yavatmal
148537,562647,MAITRI FOODS & BEVERAGES,0,0.0,300,Pizzas,Yavatmal
148538,559435,Cafe Bella Ciao,0,0.0,300,"Fast Food,Snacks",Yavatmal
148539,418989,GRILL ZILLA,0,0.0,250,Continental,Yavatmal
148540,447770,Lazeez kitchen,0,0.0,200,Pizzas,Yavatmal

In [224]:
swiggy=['Bangalore','Delhi','Pune','chennai','Hyderabad','Kolkata','Mumbai','Ahmedabad','Chandigarh','Lucknow']
filtered_swiggy=swiggy_[swiggy_['city_final'].isin(swiggy)]
filtered_swiggy

,id,name,rating,rating_count,cost,cuisine,city_final
1100,40184,M.A.D By Tomato'S,4.3,100.0,1200,"Indian,Chinese",Ahmedabad
1101,45635,Tea Post,4,100.0,150,Fast Food,Ahmedabad
1102,483947,Shanghai Chicken Lolipops,0,0.0,300,"Chinese,Fast Food",Ahmedabad
1103,483946,Ministry Of Momos,0,0.0,300,Chinese,Ahmedabad
1104,181107,Sizzling - The Cake Room,0,0.0,350,Desserts,Ahmedabad
...,...,...,...,...,...,...,...
133150,384158,THE BBs Biryanis and Burgers,0,0.0,200,"North Indian,Biryani",Pune
133151,361058,Baker's Street,0,0.0,240,"Indian,Bakery",Pune
133152,511904,Masala Meals,0,0.0,400,Indian,Pune
133153,511908,Halal Biryani,0,0.0,300,Biryani,Pune
133154,364563,desi swad,0,0.0,200,Indian,Pune

In [225]:
filtered_swiggy.to_csv("cleaned_data.csv",index=False)

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

cleaned_df = filtered_swiggy
cat_cols = ["city_final", "cuisine"]
num_cols = ["rating", "rating_count", "cost"]

encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded_cats = encoder.fit_transform(cleaned_df[cat_cols])
feature_names = encoder.get_feature_names_out(cat_cols)

# Reset indices to match exactly
encoded_cat_df = pd.DataFrame(encoded_cats, columns=feature_names,
                             index=cleaned_df.index).reindex(cleaned_df.index)
encoded_df = pd.concat([cleaned_df[num_cols], encoded_cat_df], axis=1)

encoded_df.to_csv("encoded_data.csv", index=False)
print("✅ encoded_df shape:", encoded_df.shape)

✅ encoded_df shape: (74460, 1739)

In [227]:
import pickle

#Save encoder for future use (Streamlit app)
with open("encoder.pkl", "wb") as f:
  pickle.dump(encoder, f)
  print("✅ Saved encoder.pkl")

✅ Saved encoder.pkl

In [228]:
print(len(cleaned_df) == len(encoded_df))

True

In [229]:
encoded_df

,rating,rating_count,cost,city_final_Ahmedabad,city_final_Bangalore,city_final_Chandigarh,city_final_Delhi,city_final_Hyderabad,city_final_Kolkata,city_final_Lucknow,...,"cuisine_Vietnamese,Korean","cuisine_Vietnamese,Pan-Asian","cuisine_Vietnamese,Snacks",cuisine_Waffle,"cuisine_Waffle,Bakery","cuisine_Waffle,Beverages","cuisine_Waffle,Desserts","cuisine_Waffle,Fast Food","cuisine_Waffle,Ice Cream","cuisine_Waffle,Snacks"
1100,4.3,100.0,1200,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1101,4,100.0,150,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1102,0,0.0,300,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1103,0,0.0,300,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1104,0,0.0,350,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133150,0,0.0,200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
133151,0,0.0,240,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
133152,0,0.0,400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
133153,0,0.0,300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
133154,0,0.0,200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [230]:
cleaned_df

,id,name,rating,rating_count,cost,cuisine,city_final
1100,40184,M.A.D By Tomato'S,4.3,100.0,1200,"Indian,Chinese",Ahmedabad
1101,45635,Tea Post,4,100.0,150,Fast Food,Ahmedabad
1102,483947,Shanghai Chicken Lolipops,0,0.0,300,"Chinese,Fast Food",Ahmedabad
1103,483946,Ministry Of Momos,0,0.0,300,Chinese,Ahmedabad
1104,181107,Sizzling - The Cake Room,0,0.0,350,Desserts,Ahmedabad
...,...,...,...,...,...,...,...
133150,384158,THE BBs Biryanis and Burgers,0,0.0,200,"North Indian,Biryani",Pune
133151,361058,Baker's Street,0,0.0,240,"Indian,Bakery",Pune
133152,511904,Masala Meals,0,0.0,400,Indian,Pune
133153,511908,Halal Biryani,0,0.0,300,Biryani,Pune
133154,364563,desi swad,0,0.0,200,Indian,Pune

In [ ]:
from sklearn.cluster import KMeans
import pandas as pd

# Load data
cleaned_df = pd.read_csv('cleaned_data.csv')
encoded_df = pd.read_csv('encoded_data.csv')

# K-Means Clustering 
kmeans = KMeans(n_clusters=5, random_state=42, n_init=10)
clusters = kmeans.fit_predict(encoded_df)

# ADD MAPPING INDICES 
cleaned_df['cluster'] = clusters  # Maps clusters back by index
cleaned_df.to_csv('final_data.csv', index=False)

print("✅ Clusters mapped! Use: cleaned_df[cleaned_df['cluster'] == 0]")

✅ Clusters mapped! Use: cleaned_df[cleaned_df['cluster'] == 0]

In [236]:
final_df = pd.read_csv('final_data.csv')
final_df

,id,name,rating,rating_count,cost,cuisine,city_final,cluster
0,40184,M.A.D By Tomato'S,4.3,100.0,1200,"Indian,Chinese",Ahmedabad,4
1,45635,Tea Post,4.0,100.0,150,Fast Food,Ahmedabad,1
2,483947,Shanghai Chicken Lolipops,0.0,0.0,300,"Chinese,Fast Food",Ahmedabad,1
3,483946,Ministry Of Momos,0.0,0.0,300,Chinese,Ahmedabad,1
4,181107,Sizzling - The Cake Room,0.0,0.0,350,Desserts,Ahmedabad,0
...,...,...,...,...,...,...,...,...
74455,384158,THE BBs Biryanis and Burgers,0.0,0.0,200,"North Indian,Biryani",Pune,1
74456,361058,Baker's Street,0.0,0.0,240,"Indian,Bakery",Pune,1
74457,511904,Masala Meals,0.0,0.0,400,Indian,Pune,0
74458,511908,Halal Biryani,0.0,0.0,300,Biryani,Pune,1
74459,364563,desi swad,0.0,0.0,200,Indian,Pune,1

In [239]:
import os
desktop_path = os.path.join(os.path.expanduser("~"), "Desktop", "final_data.csv")
cleaned_df.to_csv(desktop_path, index=False)
print(f"File saved to: {desktop_path}")

File saved to: C:\Users\ACER\Desktop\final_data.csv